.main {
    margin-bottom: 50px;
}
.photographers {
    display: flex;
    flex-direction: column;
}
.photographers__title {
    font-family: PTSansRegular, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #484848;

}
.photographers__selection {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.photographers-select-name {
    display: flex;
    flex-direction: column;
}
.photographers-select-name label,
.photographers-select-city label {
    margin-bottom: 10px;
}
.photographers__selection__name-input,
.photographers-select-city__input {
    font-family: PTSansBold, sans-serif;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    border: none;
    outline: none;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
}
.photographers-select-city {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
}
.photographers-select-city__list {
    display: none;
    z-index: 50;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid #333333;
    background-color: #ffffff;
    border-radius: 2px 2px 5px 5px;
    border-top-color: transparent;
    list-style: none;
    top: 60px;
    left: 0;
    margin: 0;
    padding: 0;
}
.photographers-select-city:hover > .photographers-select-city__list {
    display: block;
}
.photographers-select-city:hover > .photographers-select-city__input {
    border-color: #333333;
    border-radius: 5px 5px 0 0;
    border-bottom-color: transparent;
}
.photographers-select-city__list__item {
    font-family: PTSansRegular, sans-serif;
    color: #333333;
    cursor: pointer;
    padding: 10px; 
}
.reset-filter {
    display: flex;
    margin-top: auto;
    margin-left: 10px;
}
.reset-filter__button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.reset-filter__button:focus {
    outline: none;
}
.hidden {
    display: none;
}
.photos__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-right: -5px;
}
.photo {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 320px;
    height: 320px;
    margin-right: 5px;
    margin-top: 10px;
}
.photographers__photos__message {
    font-size: 30px;
    font-family: PTSansRegular, sans-serif;
}
.photo > img {
    height: 100%;
    left: -83px;
    transform: scale(0.9);
    position: absolute;
}
.photo > h4 {
    color: #6c6c6c;
    margin: 0;
    padding: 0;
}
.photo > p {
    color: #969696;
    margin: 0;
    padding: 0;
}
.photo__botton-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 5vh;
    left: 49vw;  
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;  
}
.photo__botton-close::after {
    content: '';
    top: 0;
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #d42c2c;
    transform: rotate(-45deg);
}
.photo__botton-close::before {
    content: '';
    top: 0;
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #d42c2c;
    transform: rotate(45deg);
}
.photo__botton-close:focus {
    outline: none;
}
.photo-popup-open {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(97, 97, 97, 0.8);
    margin: 0;
}
.photo-popup-open
.img-full-screen {
    z-index: 100;
    pointer-events: none;
    position: static;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #4f4f4f;
    height: 80vh;
    
}
.photo-popup-open h4,
.photo-popup-open p {
    color: #333333;
    z-index: 150;
    position: absolute;
    top: 15vh;
}
.photo-popup-open h4 {
    right: 10%;
}
.photo-popup-open p {
    top: 18vh;
    right: 10%;
}